// Variables
$primary-font-color: white;
$colrrr: #27112f;
$primary-background-color: #732f8c;
$project-background-color: #4f1d4c;

$date-font-color: #8a8a8a;
$special-font-color: #7e077e;

// Fonts
@font-face
{
    font-family: 'myfont';
    src: url('/fonts/oswald/Oswald-VariableFont_wght.ttf');
}

// Resets
html
{
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul
{
    margin: 0;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

// Utility
.background
{
    background-color: $primary-background-color;
}
.no-margin
{
    margin: 0;
}
.has-full-height
{
    height: 100%;
}
.center
{
    margin: 0 auto;

    &-text
    {
        text-align: center;
    }
}
.is-flex
{
    display: flex;
}
.flex
{
    flex: 1 1 auto;
}
.is-block
{
    display: block;
}
.is-strong
{
    font-weight: bold;
}
.is-normal-weight
{
    font-weight: normal;
}
.indent
{
    text-indent: 1rem;
}
