// Variables
$primary-font-color: white;
$primary-background-color: #732f8c;

$project-background-color: #4f1d4c;

.navbar
{
    @mixin navbar-item
    {
        margin: 0 0.5rem;
        text-decoration: none;
        padding: 1.25rem 0.75rem;
        color: $primary-font-color;
    }

    padding: 0.75rem;
    justify-content: space-between;
    transition: border-bottom 100ms linear;
    background-color: $primary-background-color;

    &__list-item
    {
        @include navbar-item;

        &--special
        {
            @include navbar-item;

            border-radius: 0.5rem;
            transition: background-color 200ms;
            border: thin solid $primary-font-color;

            &:hover
            {
                color: $primary-background-color;
                background-color: $primary-font-color;
            }
        }

        &:hover
        {
            padding: 1rem 0.75rem;
            transition: border-bottom 100ms ease-in;
            border-bottom: 0.25rem solid $primary-font-color;
        }

        &:visited
        {
            color: $primary-font-color;
        }
    }
}

.content
{
    min-height: 100vh;
    color: $primary-font-color;
    background-color: $primary-background-color;

    &__container
    {
        align-self: center;
    }

    &__description
    {
        font-size: 1.5rem;
    }

    &__section
    {
        padding: 1rem 1rem 2.5rem;

        &--about
        {
            height: 90vh;
            padding: 0;
        }
    }

    &__header--name
    {
        font-size: 3rem;
    }

    &__image
    {
        width: 100%;
        opacity: 70%;
        object-fit: contain;
        border-radius: 0.35rem;
        transition: opacity 250ms;
        margin: 0.1rem 0.75rem 0.35rem 0;

        &-container
        {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        &:hover
        {
            opacity: 100%;
        }
    }
}

.project
{
    margin: 0.25rem;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 0.5rem;
    background-color: $project-background-color;

    &__content
    {
        flex: 1 1 auto;
    }

    &__info
    {
        flex-direction: column;

        &-title
        {
            margin: 0.125rem;
        }
    }

    &__button
    {
        color: white;
        margin: 0 0.35rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        border: 1px solid white;
        transition: background-color 200ms;

        &:hover
        {
            color: $primary-background-color;
            background-color: $primary-font-color;
        }
    }

    &__tags
    {
        height: 2rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: #351033;

        span
        {
            margin: 0.15rem;
            vertical-align: -moz-middle-with-baseline;
        }
    }
}

.footer
{
    $footer-background-color: #2f2931;
    $footer-secondary-font-color: #676568;

    padding: 5rem;
    align-items: center;
    color: $primary-font-color;
    justify-content: space-between;
    background-color: $footer-background-color;

    &__contact
    {
        justify-content: center;
    }

    &__link
    {
        margin: 0 0.35rem;
        color: $primary-font-color;
    }

    &__credit
    {
        color: $footer-secondary-font-color;
    }
}

// Generics
.no-margins
{
    margin: 0;
}
.center
{
    margin: 0 auto;
}
.center-text
{
    text-align: center;
}
.is-flex
{
    display: flex;
}

// Media Queries
@media only screen and (min-width: 1400px)
{
    .project
    {
        width: 45vw;
    }
}