// Variables
$primary-font-color: white;
$primary-background-color: #732f8c;

$footer-background-color: #2f2931;

.navbar
{
    padding: 0.75rem;
    background-color: $primary-background-color;
}
.navbar__info
{
    flex: 2 1 auto;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    flex-direction: column;
    color: $primary-font-color;
}
.navbar__list-item,
.navbar__list-item--special
{
    margin: 0 0.5rem;
    text-decoration: none;
    padding: 1.25rem 0.75rem;
    color: $primary-font-color;
    transition: border-bottom 100ms linear;
}
.navbar__list-item--special
{
    border-radius: 0.5rem;
    border: thin solid $primary-font-color;
    transition: background-color 150ms linear;
}
.navbar__list-item:hover
{
    padding: 0.75rem;
    border-bottom: 0.5rem solid $primary-font-color;
}
.navbar__list-item--special:hover
{
    color: $primary-background-color;
    background-color: $primary-font-color;
}
.navbar__list-item:visited
{
    color: $primary-font-color;
}
.content
{
    padding: 1rem;
    min-height: 100vh;
    color: $primary-font-color;
    background-color: $primary-background-color;
}
.content__header--name
{
    font-size: 3rem;
}
.content__section
{
    margin: 2rem;
}
.content__images
{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content__image
{
    margin: 0.5rem;
    flex: 2 1 auto;
    max-width: 500px;
}
.footer
{
    padding: 3rem;
    color: $primary-font-color;
    background-color: $footer-background-color;
}
.footer__contact
{
    padding: 1rem;
}

// Generics
.no-margins
{
    margin: 0;
}
.center-text
{
    text-align: center;
}
.is-flex
{
    display: flex;
}
