// Variables
$primary-font-color: #7e077e;
$secondary-font-color: #8a8a8a;

.wrapper
{
    padding: 0.25rem;
}

.header
{
    &__info
    {
        flex: 2 1 auto;
    }
    &__contact
    {
        align-items: end;
        flex-direction: column;
        justify-content: center;
    }
    &__description
    {
        margin: 1.25rem 0 0;
    }

    padding: 0.75rem;
}

.info
{
    &__name
    {
        font-size: 2rem;
        color: $primary-font-color;
    }
    &__job-title
    {
        color: $secondary-font-color;
    }
}

.section
{
    &__rule
    {
        height: 0;
        flex: 1 1 auto;
        align-self: center;

        &--left
        {
            height: 0;
            flex: 0.015 1 auto;
            align-self: center;
        }
    }
    &__title
    {
        margin: 0 0.25rem;
        font-size: 1.15rem;
        color: $primary-font-color;
    }
    &__body
    {
        padding: 0.25rem 0.75rem;
        margin: 0.25rem 0.75rem 0;

        &-title
        {
            padding-bottom: 0.25rem;
        }
    }
    &__date
    {
        align-self: center;
        font-size: 0.75rem;
        color: $secondary-font-color;
    }

    padding: 0.25rem;
}

// Generics
.no-margin
{
    margin: 0;
}
.flex
{
    flex: 1 1 auto;
}
.is-flex
{
    display: flex;
}
.is-block
{
    display: block;
}
.center-text
{
    text-align: center;
}
.is-strong
{
    font-weight: bold;
}
.is-normal-weight
{
    font-weight: normal;
}
.indent
{
    text-indent: 2rem;
}