.navbar
{
    margin: 0 auto;
    padding-top: 1rem;
    width: 95%;
    
    &__list-item
    {
        align-self: center;
        margin: 0 0.5rem;

        &--special
        {
            @extend .navbar__list-item;

            background: rgba(255, 255, 255, 0);
            border: 1px solid $primary-font-color;
            border-radius: 0.5rem;
            color: $primary-font-color;
            padding: 1.25rem 0.75rem;
            text-decoration: none;
            transition: all 0.3s ease-in-out;     

            &:hover
            {
                background: $primary-highlight-color;
                border: 1px solid transparent;
            }
        }
    }

    &__icon
    {
        align-self: center;
        padding: 0 0.5rem;
    }
}