// Thanks for visiting my website!
doctype html
html
  head
    title Chanse Taylor's Home Page
    meta(charset="utf-8")/
    link(rel='stylesheet', href='/stylesheets/main.css')/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  body.no-margins
    block content
      .wrapper
        header
          nav.navbar
            img.navbar__icon(alt="Nav Icon" src="https://via.placeholder.com/50")/
            .navbar__info
              span.navbar__info-name Chanse Taylor
              span.navbar__info-title Web Developer
            .navbar__list.no-margins
              a.navbar__list-item.navbar__list-link(href="/") ABOUT
              a.navbar__list-item(href="/resume") RESUME
        main.content
          h1.content__header Hi, I'm Chanse!
          p.content__description Web developer, gamer, and artist.
          h1#about.content__header About Me
          p.content__description I have no clue of what to put here! I'll touch this section up a bit later!  The important things to know are that I love programming, drawing, computers, video games, and anime!
          h1#portfolio.content__header Projects
          img(src="https://via.placeholder.com/200")/
          img(src="https://via.placeholder.com/200")/
          img(src="https://via.placeholder.com/200")/
          img(src="https://via.placeholder.com/200")/
          img(src="https://via.placeholder.com/200")/
        footer.footer
          .footer__contact
            h4 Contact Information
            hr
            p GitHub: 
              a(href="https://github.com/ChanseNTaylor") ChanseNTaylor
            p Email Address: 
              a(href="mailto:chansen.taylor@gmail.com") Chansen.taylor@gmail.com
            p Phone Number: 803-450-3804
          .footer__copyright.center-text
            p &COPY Chanse Taylor
