// Thanks for visiting my website!
doctype html
html
  head
    title Chanse Taylor's Home Page
    meta(charset="utf-8")/
    link(rel='stylesheet', href='/stylesheets/main.css')/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  body.no-margins
    block content
      .wrapper
        header
          nav.navbar
            img.navbar__icon(alt="Nav Icon" src="https://via.placeholder.com/25")/
            .navbar__info
              span.navbar__info-name Chanse Taylor
              span.navbar__info-title Web Developer
            .navbar__list.no-margins
              a.navbar__list-item--selected.navbar__list-link(href="/") ABOUT
              a.navbar__list-item(href="/projects") PROJECTS
              a.navbar__list-item(href="/resume") RESUME
        main.content
          h1.content__header Hi, I'm Chanse!
          p.content__description Web developer, web designer, and artist.
        footer.footer
          .footer__contact
            h4 Contact Info
              p Email: 
                a(href="mailto:chansen.taylor@gmail.com") Chansen.taylor@gmail.com
              p Phone: 803-450-3804
