// Thanks for visiting my website!
doctype html
html
  head
    title Chanse Taylor's Home Page
    meta(charset="utf-8")/
    link(rel='stylesheet', href='/stylesheets/main.css')/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  body.no-margins
    block content
      .wrapper
        header
          nav.navbar.is-flex
            img.navbar__icon(alt="Nav Icon" src="https://via.placeholder.com/50")/
            .navbar__info.is-flex
              span.navbar__info-name Chanse Taylor
              span.navbar__info-title Web Developer
            .navbar__list.no-margins.is-flex
              a.navbar__list-item.navbar__list-link(href="/#about") ABOUT
              a.navbar__list-item.navbar__list-link(href="/#projects") PROJECTS
              a.navbar__list-item.navbar__list-link(href="/#contact") CONTACT
              a.navbar__list-item--special(href="/resume") RESUME
        main.content
          // Please hire me!
          #me.content__section--about.center-text.is-flex
            .content__container.center
              h1.content__header--name.no-margins Hi, I'm Chanse!
              p.content__description Web developer, gamer, and artist.
          #about.content__section
            h1.content__header About
            p.content__description Howdy, partner!  I'm Chanse, a software engineer focused on the web.  I love developing for the web because it is very easy to share beautiful software with people around the word.
          #projects.content__section
            h1.content__header Projects
            hr
            .content__image-container.is-flex.center
              a(href="/")
                img.content__image(src="https://via.placeholder.com/500")/
              a(href="/")
                img.content__image(src="https://via.placeholder.com/500")/
              a(href="/")
                img.content__image(src="https://via.placeholder.com/500")/
              a(href="/")
                img.content__image(src="https://via.placeholder.com/500")/
        footer#contact.footer
            .footer__contact.is-flex.center-text
              a.footer__link(href="https://github.com/ChanseNTaylor") GITHUB
              a.footer__link(href="mailto:chansen.taylor@gmail.com") EMAIL
            .footer__credit.center-text
              p Webpage developed and designed by Chanse Taylor!        
