// Thanks for visiting my website!
doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    title Chanse Taylor's Home Page
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.no-margins
    .wrapper
      header
        nav.navbar.is-flex
          img(alt="Nav Icon" src="https://via.placeholder.com/50")
          .navbar__list.no-margins.is-flex
            a.navbar__list-item(href="/#about") ABOUT
            a.navbar__list-item(href="/#projects") PROJECTS
            a.navbar__list-item(href="/#contact") CONTACT
            a.navbar__list-item--special(href="/resume") RESUMÉ
        block content