// Thanks for visiting my website!
doctype html
html(lang="en-us")
  head
    title Chanse Taylor's Home Page
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.no-margins
    block content
      .wrapper
        header
          nav.navbar.is-flex
            img.navbar__icon(alt="Nav Icon" src="https://via.placeholder.com/50")/
            .navbar__info.is-flex
              span.navbar__info-name Chanse Taylor
              span.navbar__info-title Web Developer
            .navbar__list.no-margins.is-flex
              a.navbar__list-item.navbar__list-link(href="/#about") ABOUT
              a.navbar__list-item.navbar__list-link(href="/#projects") PROJECTS
              a.navbar__list-item.navbar__list-link(href="/#contact") CONTACT
              a.navbar__list-item--special(href="/resume") RESUMÉ
        main.content
          // Please hire me!
          #me.content__section--about.center-text.is-flex
            .content__container.center
              h1.content__header--name.no-margins Hi, I'm Chanse!
              p.content__description Web developer, hardcore gamer, and artist.
          #about.content__section
            h1.content__header About
            p.content__description Howdy, partner!  I'm Chanse, a software developer with a passion for web development and design. I love developing for the web because it's pretty easy to share beautiful and/or interesting software with people around the world.
          #projects.content__section
            h1.content__header Projects
            .content__image-container.is-flex.center
              .project.content__project
                .project__label
                a(href="/game")
                  img.content__image(src="/images/textGame.png")
              a(href="/")
                img.content__image(src="/images/stringGen.png")
              a(href="/")
                img.content__image(src="https://via.placeholder.com/450")
              a(href="/")
                img.content__image(src="https://via.placeholder.com/450")
        footer#contact.footer
            .footer__contact.is-flex.center-text
              a.footer__link(href="https://github.com/ChanseNTaylor") GITHUB
              a.footer__link(href="mailto:chansen.taylor@gmail.com") EMAIL
            .footer__credit.center-text
              p Webpage developed and designed by Chanse Taylor!        
