// Thank you for viewing my resume!
doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")/
    title Chanse Taylor's Resume
    link(rel='stylesheet', href='/stylesheets/resume.css')/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  body.no-margin
    .wrapper
      header
        .header.is-flex
          .header__info
            h1.no-margin.info__name Chanse Taylor
            h3.no-margin.info__job-title Web Developer 
          .header__contact.is-flex
            a(href="mailto:Chansen.taylor@gmail.com") E-MAIL
            a(href="https://github.com/ChanseNTaylor") GITHUB
            span Phone: (803) 450-3804
        p.center-text A passionate and creative software developer who loves to develop and design software for the web. 
      main
        section
          .section__head.is-flex
            hr.section__rule--left
            h2.section__title Technical Skills
            hr.section__rule
          p Technologies
          p HTML5, CSS3, JavaScript, C#, Python, Node, and SQL.
        section
          .section__head.is-flex
            h2 Projects
            hr.section__rule
          p Call Notes App
          ul
            li Vue Bulma HTML
            li Uses the Bulma CSS framework and Vue.js to create a
        section
          .section__head.is-flex
            h2 Work Experience
            hr.section__rule
          h4 Technical Support Representative
          span Unisys
          span (2018 - present)
          ul
            li Learned best practices for effective interpersonal communication with clients.
        section
          .section__head.is-flex
            h2 Education
            hr.section__rule
          h4 Bachelor's degree in Math/Computer Science
          p University of South Carolina Aiken
