extends layout

block comment
  // Thanks for viewing my resume!
  
block head
  title Chanse Taylor's Resume
  link(rel='stylesheet', href='/stylesheets/resume.css')
  
block header
  .is-flex
    .header__info.flex
      h1.info__name Chanse Taylor
      h3.info__job-title Software Developer
    .header__contact.is-flex
      span (803) 450-3804
        img.contact__icon(src="images/icons/phoneicon.png")
      a(href="https://github.com/ChanseNTaylor") ChanseNTaylor
        img.contact__icon(src="images/icons/githubicon.png")
      a(href="http://chansetaylor.com") ChanseTaylor.com
        img.contact__icon(src="images/icons/interneticon.png")
      a(href="mailto:Chansen.taylor@gmail.com") Chansen.taylor@gmail.com
        img.contact__icon(src="images/icons/emailicon.png")
  p.header__description.center-text A self-motivated and creative software developer who loves to solve other people's problems.

block content
  main
    section.section
      +sectionHead('Technical Skills')
      .section__body
        p.is-strong.section__body-title Languages
        span.is-block HTML5/Pug, CSS3/Sass, JavaScript, C#, MongoDB, and SQL
        p.is-strong.section__body-title Libraries and Frameworks
        span.is-block Phaser 3, jQuery, Vue, and Bulma
        p.is-strong.section__body-title Other Tools
        span.is-block Photo editing software, Git, and NPM
    section.section
      +sectionHead('Projects')
      .section__body
        p.is-strong.section__body-title Call Notes App
        span A web app developed with the Bulma CSS framework and the Vue JavaScript framework for storing and organizing information from help desk calls
        p.is-strong.section__body-title Adventure Game
        span A web-based game developed with pure HTML5, CSS3, and JavaScript for practice with JavaScript design patterns and object-oriented programming
        p.is-strong.section__body-title Dragon Warrior Monsters Monster Guide
        span A web app using Pug, MongoDB, Sass, and Express that provides information about characters from the Dragon Warrior Monsters video game series
    section.section
      +sectionHead('Work Experience')
      .section__body
        p.is-strong.section__body-title--special.
          Technical Support Advisor #[span.is-normal-weight @ Unisys]
        span.section__date (2018 - present)
        ul
          li Implements best practices for effective communication with clients.
          li Applies strong problem solving skills working with clients to resolve various technical issues.
          li Write scripts to automate repetitive call documenting tasks.
    section.section
      +sectionHead('Education')
      .section__body
        p.is-strong.section__body-title--special University of South Carolina Aiken 
        span.section__date (Completed in 2019)
        p.section__description Bachelor's degree in Math/Computer Science
    section.section
      +sectionHead('References')
      .section__body.is-flex
        .flex.section__reference
          h4 Catherine Brohaugh
          span.is-block Unisys Level 2 Technical Support Advisor
          span.is-block (828) 963-0442
          a(href="mailto:Catherine.Brohaugh@unisys.com") Catherine.Brohaugh@unisys.com
        .flex.section__reference
          h4 Rao Li
          span.is-block USC Aiken Professor
          span.is-block (803) 641-3264
          a(href="mailto:RaoL@usca.edu") RaoL@usca.edu
        .flex.section__reference
          h4 Nicholas Corbin
          span.is-block Unisys Project Manager
          span.is-block (706) 496-0054
          a(href="mailto:Nicholas.Corbin@unisys.com") Nicholas.Corbin@unisys.com
block footer
