@font-face {
  font-family: 'myfont';
  src: url("/fonts/oswald/Oswald-VariableFont_wght.ttf"); }

.bg {
  z-index: -1;
  width: 100vw;
  height: auto;
  position: absolute; }

.navbar {
  padding: 0.5rem;
  font-family: 'myfont';
  justify-content: space-between;
  background-color: #732f8c; }
  .navbar__list-item {
    margin: 0 0.5rem;
    text-decoration: none;
    padding: 1.25rem 0.75rem;
    color: white; }
    .navbar__list-item--special {
      margin: 0 0.5rem;
      text-decoration: none;
      padding: 1.25rem 0.75rem;
      color: white;
      border-radius: 0.5rem;
      color: #732f8c;
      background-color: white; }
      .navbar__list-item--special:hover {
        background-color: #E7EF69; }
    .navbar__list-item:hover {
      padding: 1.25rem 0.75rem 0.5rem;
      border-bottom: 0.25rem solid white; }
  .navbar__icon {
    margin: 0 0.5rem; }

.content {
  min-height: 100vh;
  color: white;
  background-color: #732f8c; }
  .content__container {
    align-self: center; }
  .content__description {
    font-size: 1.5rem; }
  .content__section {
    padding: 1rem 1rem 2.5rem; }
    .content__section--main {
      height: 90vh;
      padding: 0; }
    .content__section--about {
      height: 45vh; }
  .content__header--name {
    font-size: 3rem; }
  .content__image {
    width: 100%;
    opacity: 70%;
    align-self: center;
    object-fit: contain;
    border-radius: 0.35rem;
    transition: opacity 250ms;
    margin: 0.1rem 0.75rem 0.35rem 0; }
    .content__image-container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }
    .content__image:hover {
      opacity: 100%; }

.project {
  margin: 0.25rem;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #4f1d4c; }
  .project__content {
    flex: 1 1 auto; }
  .project__info {
    flex-direction: column; }
    .project__info-title {
      margin: 0.125rem; }
  .project__button {
    color: white;
    margin: 0 0.35rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 1px solid white;
    transition: background-color 200ms; }
    .project__button:hover {
      color: #732f8c;
      background-color: white; }
  .project__tags {
    height: 2rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #351033; }
    .project__tags span {
      margin: 0.15rem;
      vertical-align: -moz-middle-with-baseline; }

.footer {
  align-items: center;
  padding: 5rem 2.5rem;
  color: white;
  justify-content: space-between;
  background-color: #2f2931; }
  .footer__contact {
    justify-content: center; }
  .footer__link {
    margin: 0 0.35rem;
    color: white; }
  .footer__credit {
    color: #676568; }

.no-margins {
  margin: 0; }

.center {
  margin: 0 auto; }
  .center-text {
    text-align: center; }

.is-flex {
  display: flex; }

.rule {
  height: 0;
  color: white;
  flex: 1 1 auto;
  align-self: center; }
  .rule--short {
    height: 0;
    color: white;
    flex: 0.025 1 auto;
    align-self: center; }

@media only screen and (min-width: 1400px) {
  .project {
    width: 45vw; } }
