.navbar {
  display: flex;
  padding: 0 1vw;
  background-color: #732f8c; }

.navbar__info {
  display: flex;
  flex: 2 1 auto;
  padding: 2vh 2vw;
  flex-direction: column;
  color: white; }

.navbar__list {
  display: flex;
  list-style: none; }

.navbar__list-item, .navbar__list-item--selected {
  padding: 2vh 2vw;
  text-decoration: none;
  transition: border-bottom 150ms linear; }

.navbar__list-item--selected {
  border-bottom: 4px solid white; }

.navbar__list-item:hover, .navbar__list-item--selected:hover {
  border-bottom: 4px solid white;
  background-color: #8639a2; }

.navbar__list-item:visited, .navbar__list-item--selected {
  color: white; }

.content {
  padding: 2vh 2vw;
  background-color: #732f8c; }

.content__header, .content__description {
  text-align: center;
  color: white; }

.footer {
  padding: 5vh 3vw;
  color: white;
  background-color: #2f2931; }

.no-margins {
  margin: 0; }
