@font-face {
  font-family: 'myfont';
  src: url("/fonts/oswald/Oswald-VariableFont_wght.ttf"); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, ul, hr, p {
  margin: 0; }

.background {
  background-color: #732f8c; }

.has-full-height {
  height: 100%; }

.center {
  margin: 0 auto; }
  .center-text {
    text-align: center; }

.is-flex {
  display: flex; }

.flex {
  flex: 1 1 auto; }

.is-block {
  display: block; }

.is-strong {
  font-weight: bold; }

.is-normal-weight {
  font-weight: normal; }

.indent {
  text-indent: 1rem; }

.section__rule {
  align-self: center; }

.section__title {
  font-size: 1.25rem;
  color: #7e077e;
  margin: 0.75rem 0.25rem 0.25rem; }

.section__body {
  margin: 0 0.45rem; }
  .section__body-title {
    margin: 0.5rem 0 0.5rem; }
    .section__body-title--special {
      margin: 0.25rem 0 0; }

.section__date {
  font-size: 0.9rem;
  align-self: center;
  color: #8a8a8a; }

.section__description {
  margin: 0.5rem 0; }

.wrapper {
  padding: 0.25rem; }

.header {
  padding: 0.25rem; }
  .header__contact {
    align-items: end;
    flex-direction: column; }
  .header__description {
    margin: 0.5rem 0; }

.info__name {
  font-size: 2.75rem;
  color: #7e077e; }

.info__job-title {
  font-size: 1.25rem;
  color: #8a8a8a; }

.contact__icon {
  width: 1.25rem;
  vertical-align: middle;
  margin: 0.2rem 0 0.2rem 0.5rem; }
