@font-face {
  font-family: 'myfont';
  src: url("/fonts/oswald/Oswald-VariableFont_wght.ttf"); }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

.background {
  background-color: #732f8c; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.has-full-height {
  height: 100%; }

.center {
  margin: 0 auto; }
  .center-text {
    text-align: center; }

.is-flex {
  display: flex; }

.flex {
  flex: 1 1 auto; }

.is-block {
  display: block; }

.is-strong {
  font-weight: bold; }

.is-normal-weight {
  font-weight: normal; }

.indent {
  text-indent: 1rem; }

.wrapper {
  padding: 0.5rem; }

.header {
  padding: 0.25rem; }
  .header__contact {
    align-items: end;
    flex-direction: column;
    justify-content: center; }
  .header__description {
    margin-top: 1.25rem 0 0; }

.info__name {
  font-size: 3.5rem;
  color: #7e077e; }

.info__job-title {
  font-size: 1.5rem;
  color: #8a8a8a; }

.section {
  padding: 0.25rem; }
  .section__rule {
    height: 0;
    align-self: center; }
    .section__rule--left {
      height: 0;
      align-self: center;
      flex: 0.015 1 auto; }
  .section__title {
    margin: 0 0.25rem;
    font-size: 1.15rem;
    color: #7e077e; }
  .section__body {
    margin: 0.25rem 0.75rem 0; }
    .section__body-title {
      padding-bottom: 0.25rem; }
  .section__date {
    align-self: center;
    font-size: 0.9rem;
    color: #8a8a8a; }
