.link
{
    color: $primary-font-color;
    text-decoration: none;
    transform: translateY(0);  

    &:hover::after
    {
        border-radius: 3px;
        height: 2px;
        opacity: 1;
        top: 110%;
        transform: translateY(3px);
    }

    &::after
    {
        left: 0;
        top: 100%;
        opacity: 0;
        height: 1px;
        content: '';
        width: 100%;
        position: absolute;
        transform: translateY(-5px);
        background: $primary-highlight-color;
        transition: all 0.3s ease-in-out;
    }
}
