.bg__image
{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(/images/cave.jpg);
}

.background
{
    padding: 0.5rem;

    &__section
    {
        width: 92.5%;
        border-radius: 0.75rem;
        background-color: $primary-font-color;
    }
}
