.background
{
    background-color: $primary-background-color;
    padding: 0.5rem;

    &__section
    {
        background-color: $primary-font-color;
        border-radius: 0.75rem;
        width: 92.5%;
    }
}