.wrapper
{
    background-color: $primary-background-color;
}
.background
{
    &__section
    {
        background-color: $primary-font-color;
        border-radius: 1rem;
        margin: 0 auto;
        width: 95%;
    }
}