.wrapper
{
    padding: 0.5rem;
}

.header
{
    padding: 0.25rem;

    &__contact
    {
        align-items: end;
        flex-direction: column;
        justify-content: center;
    }
    &__description
    {
        margin-top: 1.25rem;
    }
}

.info
{
    &__name
    {
        font-size: 3.5rem;
        color: $special-font-color;
    }
    &__job-title
    {
        font-size: 1.75rem;
        color: $date-font-color;
    }
}

.contact__icon
{
    width: 1.3rem;
    vertical-align: middle;
    margin: 0.2rem 0 0.2rem 0.5rem;
}
